<%= form_for [@organizer, @challenge], html: { class: "dbl-col" } do |f| %>

  <span class="label-text">Options</span>
  <div class="form-group">
    <%= f.check_box :require_toc_acceptance %>
    <%= f.label :require_toc_acceptance, 'Require TOC Acceptance?' %>
  </div>

  <div class="form-group">
    <%= f.check_box :toc_accordion %>
    <%= f.label :toc_accordion, 'TOC Accordion?' %>
  </div>

  <div class="form-group">
    <%= f.label :toc_acceptance_text, 'TOC Checkbox label' %>
    <%= f.text_area :toc_acceptance_text, class: "form-control" %>
  </div>


  <label>TOC Instructions</label>
  <div class="md-content">
    <%= f.text_area :toc_acceptance_instructions, class: "form-control ", data: {controller: "ckeditor"} %>
  </div>

  <label>Dataset Note</label>
  <div class="md-content">
    <%= f.text_area :dataset_note, class: "form-control ", data: {controller: "ckeditor"} %>
  </div>

  <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
<% end %>
